@import "tailwindcss";
.App{
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
}
li{
  cursor: pointer;
  color:#7B7B7B;
}
li:hover{
  border-bottom: 1px solid black;
  color: black;
}
.navbar{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  color: black;
  border-radius: 50px;
}
input{
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 300px;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 20px;  
}
.Discover-section{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  padding: 40px 20px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  border: none;
  outline: none;
}
.input-container{
  position: relative;
  width: fit-content;
  border: none;
}
.job-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.jobCard-container{
  width: 100%;
  display: flex;
}
.job-card{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}
.searchBtn{
  background: linear-gradient(105.82deg, #6B3BAB 0%, #2B1845 100%);
;
}
.title{
  color: linear-gradient(90deg, #864EFF 0%, #502F99 100%);
  font-color:linear-gradient(90deg, #864EFF 0%, #502F99 100%);
}